// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$pagination-color: #222;

$pagination-active-color: #fff;

$pagination-focus-color: #222;

$pagination-hover-color: #222;

$pagination-active-bg: #674dcf;
$pagination-active-border-color: #674dcf;


