.btn-sm {
    line-height: 20px !important;
    padding: 2px 6px !important;
    margin-right: 5px !important;
}

thead th {
    background-color: rgb(105, 79, 209) !important;
    color: white !important;
}

.btn-primary {
    background-color: #674dcf !important;
    border-color: #674dcf !important;
}

.btn-primary:hover {
    background-color: #674dcf !important;
    border-color: #674dcf !important;
}

.btn-primary:focus {
    background-color: #674dcf !important;
    box-shadow: 0 0 0 0.15rem #b2aad5 !important;
}

.btn-danger {
    background-color: #d75b62 !important;
    border-color: #d75b62 !important;
}

.btn-danger:hover {
    background-color: #d75b62 !important;
    border-color: #d75b62 !important;
}

.btn-success {
    background-color: #4dcf6e !important;
    border-color: #4dcf6e !important;
}

.btn-success:hover {
    background-color: #4dcf6e !important;
    border-color: #4dcf6e !important;
}

.form-check-input:checked {
    background-color: #674dcf !important;
    border-color: #674dcf !important;
}
